<mat-toolbar color="primary" >
  <span>Register Users</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/dashboard" color="accent">Tabla</button>

  <button mat-button routerLink="/dashboard/user" color="accent">Usuarios</button>

  <button mat-button routerLink="/dashboard/reportes" color="accent">Reportes</button>

  <button mat-icon-button routerLink="/logout" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

  