<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Id De Paciente</th>
        <th scope="col">DNI</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
        <th scope="col">Direccion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tabla of pacientes">
        <td>{{tabla.nombres}}</td>
        <td>{{tabla.apellidos}}</td>
        <td>{{tabla.idPaciente}}</td>
        <td>{{tabla.dni}}</td>
        <td>{{tabla.telefono}}</td>
        <td>{{tabla.email}}</td>
        <td>{{tabla.direccion}}</td>
      </tr>
