<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page with Background Image Example</title>
  <link rel="stylesheet" href="./acceso.component.css">

</head>
<body>
<div id="bg"></div>
<div>
<mat-spinner class = "spinner" *ngIf= "loading"  diameter="50"></mat-spinner>
<form *ngIf= "!loading" [formGroup]="form" (ngSubmit)="ingresar()">
  <div class="form-field">
    <input type="text" placeholder="ID" formControlName="usuario">
  </div>
  
  <div class="form-field">
    <input type="password" placeholder="Password" formControlName="password"/>                         
  </div>
  
  <div class="form-field">
    <button class ="btn" type="submit"  mat-raised-button color="primary" [disabled]="form.invalid">Log in</button>
  </div>
  
</form>
</div>
</body>
</html>
